body {
  font-family: "Montserrat", sans-serif;
}

.app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}

.todoapp {
  display: flex;
  justify-content: center;
}

.todo-list input {
  width: 96%;
}

.todo-list h1 {
  color: gray;
  text-align: center;
}



